<div ng-controller="2048Ctrl" tabIndex="0" ng-keydown="keyPress($event)">

	<div id="stage-2048">
		<div id="header-2048">
			<div id="name-2048">2048</div>
			<div id="info-2048">
				<div id="highscore-2048">
					Highscore<br><strong>{{highest}}</strong>
				</div>
				<div class="btn btn-success start-2048" ng-show="!gameStatus.started" ng-click="start()">Start</div>
				<div class="btn btn-warning start-2048" ng-show="gameStatus.started" ng-click="restart()">Restart</div>
			</div>
		</div>
		<div id="board-2048">
			<div ng-repeat="cell in cells track by $index" ng-style="{'background-color':cell.color}" class="cell-2048">
				<p class="numbers-2048" ng-style="{'font-size':cell.size}">{{cell.val}}</p>
			</div>
		</div>

		<div id="game-status-2048" ng-show="gameStatus.won || gameStatus.lost">
			<div id="msg-2048">{{gameStatus.msg}}</div>
			<div ng-show="gameStatus.won" ng-click="restart()" class="btn btn-success end-btn">Play again</div>
			<div ng-show="gameStatus.won" ng-click="gameStatus.won = false" class="btn btn-info end-btn">Keep playing</div>
			<div ng-show="gameStatus.lost" ng-click="restart()" class="btn btn-warning end-btn">Restart</div>
		</div>
	</div>
</div>
