<div class="page-header">
	<h1>About me</h1>
</div>

<div class="container-fluid">

	<img id="about-img" src="images/mango.jpg" class="img-fluid rounded-circle img-thumbnail float-left" alt="mango" />

	<div>
		<h4>
			Hey, I'm Taira. I made this site just to play around while I learn about programming and web development. You may this that there's not enough text here to warrant its own page, and you'd be right. However, I was experimenting with Angular and it felt weird to only have two views, so here it is.
		</h4>
		<!--
		<h4>Hey, I’m Taira. I am 22 years old and trying to make the transition into becoming a web developer. I was originally pre-med, but after taking a class in Python in the second semester of my senior year, I fell in love. Python was the first class where I was really excited to learn and do work outside of class. Switching career paths was a hard decision after working hard those four years taking classes, shadowing, lab work, and completing an honors thesis with the goal of going to med school. However, I thought I would regret it if I didn't make a real attempt at becoming a programmer. Since I graduated in May I have been working hard to learn technologies such as HTML, CSS, JavaScript, and SQL. I learned a lot working on a project to develop a data management app for a lab and am excited to learn more. I know I am far behind the pack after starting so late, but I am a hard worker, a quick learner and determined to keep improving.</h4>
		-->
	</div>
</div>