<div class="page-header">
	<h1>About me</h1>
</div>

<div class="col-xs-12">
	<div class="col-xs-4">

		<img src="images/mango.jpg" class="img-responsive img-thumbnail img-circle" alt="Responsive image" />

	</div>
	<div>
		<h4>Hey, I’m Taira. I am 22 years old and trying to make the transition into becoming a web developer. I was originally pre-med, but after taking a class in Python in the second semester of my senior year, I fell in love. Python was the first class where I was really excited to learn and do work outside of class. Switching career paths was a hard decision after working hard those four years taking classes, shadowing, lab work, and completing an honors thesis with the goal of going to med school. However, I thought I would regret it if I didn't make a real attempt at becoming a programmer. Since I graduated in May I have been working hard to learn technologies such as HTML, CSS, JavaScript, and SQL. I learned a lot working on a project to develop a data management app for a lab and am excited to learn more. I know I am far behind the pack after starting so late, but I am a hard worker, a quick learner and determined to keep improving.</h4>
	</div>
</div>