<div class="page-header">
	<h1>About me</h1>
</div>

<div class="media">
	<div class="media-left col-xs-3">

		<img src="images/mango.jpg" class="img-responsive img-thumbnail img-circle" alt="Responsive image" />

	</div>
	<div class="media-body">
		<h4>My name is Taira. I am 22 years old and trying to make the transition into becoming a web developer. I was originally pre-med, but after taking python in the second semester of my senior year, I fell in love. Python was the first class where I was really excited to learn and do work outside of class. It was a hard decision after working hard those four years taking classes, shodowing, participating in clubs, and completing and honors thesis with the goal of going to med school. However, after truly enjoying python, I thought I would regret it if i didn't try to gey into this field. Since I graduated in May, I have been working hard to learn a few other languages such as HTML, CSS, Javascript, and SQL. I learned a lot working on a project to develop a data managing app for a lab I used to work in and I am excited to learn more. I know I am far behind the pack after starting so late, but I am  going to work as hard as I can to make it in this field.</h4>
	</div>
</div>