<div class="page-header">
	<div style="background-color: red" class="row">
		<div class="col-xs-12">
			<h1>Resume</h1>
			<div style="background-color: blue" class="btn btn-default col-xs-offset-6">
				<a target="_self" href="documents/resume_placeholder.pdf" download="taira_resume.pdf">Dowload</a>
			</div>
		</div>
		<div style="background-color: blue" class="col-xs-offset-4 btn btn-default">
			<a target="_self" href="documents/resume_placeholder.pdf" download="taira_resume.pdf">Dowload</a>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="jumbotron">
		<h1>Taira Davey</h1>
		<p>Web developer</p>
		<br>
		<p>
			2 Deertrack Lane, Irvington, NY 10533 • (917) 797-0595 • td284@cornell.edu • tairad.com
		</p>
	</div>
</div>

	<div class="container col-xs-5 pull-left">
		<div>
			<h2><strong>Education</strong></h2>
		</div>
		<hr>
		<div ng-repeat="education in education">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{education.universityName}}</strong></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{education.timeFrame}}</em></small></h5>
				</div>
			</div>

			<div>
				<ul style="font-size:.8em" class="list-unstyled">
					<li>{{education.collegeName}}</li>
					<li>{{education.degree + education.graduationDate}}</li>
					<li>{{education.minor}}</li>
					<li>{{education.award}}</li>
					<li>GPA: {{education.gpa}}</li>
				</ul>
			</div>
		</div>


		<div>
			<h2><strong>Technologies</strong></h2>
		</div>
		<hr>
		<ul>
			<li ng-repeat="technology in technologies">{{technology}}</li>
		</ul>



		<div>
			<h2><strong>Activities</strong></h2>
		</div>
		<hr>
		<div ng-repeat="activity in activities">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{activity.organization}}</strong></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{activity.timeFrame}}</em></small></h5>
				</div>
			</div>

			<div>
				<p>{{activity.location}}</p>
				<ul>
					<li ng-repeat="detail in activity.details">{{detail}}</li>
				</ul>
			</div>
		</div>


	</div>


	<div class="container col-xs-7 pull-right">
		<div>
			<h2><strong>About Me</strong></h2>
		</div>
		<hr>
		<p>
			I switched to web development from pre-med, because I enjoy coding more than anything I’ve done previously. Since I began programming, I have been very excited about the work that I am doing and will continue to do. People say that I am both a quick learner and highly motivated to improve. 
		</p>



		<div>
			<h2><strong>Software Experience</strong></h2>
		</div>
		<hr>
		<div ng-repeat="experience in softwareExperiences">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{experience.jobTitle}}</strong></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{experience.timeFrame}}</em></small></h5>
				</div>
			</div>

			<div>
				<p>{{experience.location}}</p>
				<ul>
					<li ng-repeat="detail in experience.details">{{detail}}</li>
				</ul>
			</div>
		</div>


		<div>
			<h2><strong>Other Experience</strong></h2>
		</div>
		<hr>
		<div ng-repeat="experience in otherExperiences">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{experience.jobTitle}}</strong></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{experience.timeFrame}}</em></small></h5>
				</div>
			</div>

			<div>
				<p>{{experience.location}}</p>
				<ul>
					<li ng-repeat="detail in experience.details">{{detail}}</li>
				</ul>
			</div>
		</div>

		<div>
			<h2><strong>Publications</strong></h2>
		</div>
		<hr>
		<p>
			Meisel et al. 2016. Is Multifactorial Sex Determination in the House Fly, Musca domestica (L.), Stable Over Time? <em>Journal of Heredity</em> 107 (7): 615-625 
		</p>
	</div>


<!--
<div class="container">
	<div class="row">
		<div>
			<h2><strong>Education</strong></h2>
		</div>
	</div>
	<div class="row" ng-repeat="education in education">
		<div class="col-xs-3">
			<h5><em>{{education.timeFrame}}</em></h5>
		</div>
		<div class="col-xs-9">
			<ul class="list-unstyled">
				<li>
					<div>
						<h4>
						<strong>{{education.universityName}}</strong>, <small>{{education.collegeName}}, {{education.location}}</small>
						</h4>
						<p>{{education.degree}}	GPA: {{education.gpa}} <br>
						{{education.award}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class="container">
	<div class="row">
		<div>
			<h2><strong>Experience</strong></h2>
		</div>
	</div>
	<div class="row" ng-repeat="experience in experiences">
		<div class="col-xs-3">
			<h5><em>{{experience.timeFrame}}</em></h5>
		</div>
		<div class="col-xs-9">
			<ul class="list-unstyled">
				<li>
					<div ng-repeat="experience in experiences">
						<h4><strong>{{experience.jobTitle}}</strong></h4>
						<p>{{experience.organization}}, {{experience.location}}</p>
						<ul>
							<li ng-repeat="description in experience.jobDescription">
								{{description}}
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2><strong>Skills</strong></h2>
		</div>
		<div class="col-xs-9">
			<ul class="list-unstyled">
				<li>
					<h4><strong>Technologies</strong></h4>
					<ul>
						<li ng-repeat="technology in technologies">{{technology}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

-->