<div class="container">
	<div class='page-header col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8'>
		<div class='pull-right'>
			<a class="btn btn-default" style="vertical-align: middle" target="_self" href="documents/resume.pdf" download="taira's_resume.pdf">Download</a>

		</div>
		<h1>Resume</h2>

	</div>
</div>
<div class="container">
	<div class='page-header col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8'>
		<div class='row'>
			<div class="col-xs-8">
				<h1>Resume</h1>
			</div>
			<div class="col-xs-4">
				<a class="btn btn-default" style="vertical-align: middle" target="_self" href="documents/resume.pdf" download="taira's_resume.pdf">Download</a>
			</div>
		</div>
	</div>
</div>

		<div ng-repeat="education in education">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{education.universityName}}</strong>,
					<small>{{education.collegeName}}</small></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{education.graduationDate}}</em></small></h5>
				</div>
			</div>

<div class="container-fluid text-center">
	<h1>Taira Davey</h1>
	<p>
		(917) 797-0595 • tdavey284@gmail.com • tairad.com<br>
		2 Deertrack Lane, Irvington, NY 10533
	</p>
</div>


	<div class="container col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
		<div>
			<h2><strong>About Me</strong></h2>
		</div>
		<hr>
		<p>
			I switched to programming from pre-med after taking a Python course, as I found it much more enjoyable than anything I'd done previously. It was definitely something I could visualize myself doing every day. Since graduating, I’ve devoted the majority of my time to learning new technologies and have gained experience by designing a database and data management app for a lab. I am very excited about the work I’m doing and eager to advance my skills in this arena. 
		</p>

		<div>
			<h2><strong>Education</strong></h2>
		</div>
		<hr>
		<div ng-repeat="education in education">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{education.universityName}}</strong>,
					<small>{{education.collegeName}}</small></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{education.graduationDate}}</em></small></h5>
				</div>
			</div>

			<div>
				<ul class="list-unstyled">
					<li>{{education.degree}}, {{education.minor}}, GPA: {{education.gpa}}</li>
					<li>{{education.award}}</li>
				</ul>
			</div>
		</div>

		<div>
			<h2><strong>Technologies</strong></h2>
		</div>
		<hr>
		<ul>
			<li>HTML/CSS</li>
			<li>JavaScript
				<ul>
					<li>AngularJS</li>
					<li>Node.js</li>
				</ul>
			</li>
			<li>SQL</li>
			<li>Python</li>
		</ul>

		<div>
			<h2><strong>Software Experience</strong></h2>
		</div>
		<hr>
		<div ng-repeat="experience in softwareExperiences">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{experience.jobTitle}}</strong>,
					<small>{{experience.location}}</small></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{experience.timeFrame}}</em></small></h5>
				</div>
			</div>

			<div>
				<ul>
					<li ng-repeat="detail in experience.details">{{detail}}</li>
				</ul>
			</div>
		</div>


		<div>
			<h2><strong>Other Experience</strong></h2>
		</div>
		<hr>
		<div ng-repeat="experience in otherExperiences">
			<div class="row">
				<div class="col-xs-8">
					<h5><strong>{{experience.jobTitle}}</strong>,
					<small>{{experience.location}}</small></h5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right"><small><em>{{experience.timeFrame}}</em></small></h5>
				</div>
			</div>

			<div>
				<ul>
					<li ng-repeat="detail in experience.details">{{detail}}</li>
				</ul>
			</div>
		</div>

		<div>
			<h2><strong>Publications</strong></h2>
		</div>
		<hr>
		<p>
			Meisel et al. 2016. "Is Multifactorial Sex Determination in the House Fly, Musca domestica (L.), Stable Over Time?"" <em>Journal of Heredity</em> 107 (7): 615-625 
		</p>
	</div>