<div class="container background">
    <div class="row btn-rows justify-content-center">
      <div class="option" id="green"></div>
      <div class="option" id="red"></div>
    </div>
    <div class="row btn-rows justify-content-center">
      <div class="option" id="yellow"></div>
      <div class="option" id="blue"></div>
    </div>
  <div id="center">
    <h1 id="title">Simon</h3>
    <div id="display" class="row justify-content-center align-items-center">--</div>
    <div id="btn-container" class="row justify-content-center">
        <div id="start"><p class="btn-text">start</p></div>
        <div id="restart"><p class="btn-text">restart</p></div>
        <div id="strict"><p class="btn-text">strict</p></div>
    </div>

  </div>
</div>
<audio id="green-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3"></audio>
<audio id="red-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3"></audio>
<audio id="yellow-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3"></audio>
<audio id="blue-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3"></audio>