<div ng-controller="SimonCtrl" class="background">
		<div class="option" id="green"></div>
		<div class="option" id="red"></div>
		<div class="option" id="yellow"></div>
		<div class="option" id="blue"></div>
	
	<div id="center">
		<h1 id="title">Simon</h3>
		<div id="display" class="row justify-content-center align-items-center">--</div>
		<div id="btn-container" class="row justify-content-center">
				<div id="simon-start">start</div>
				<div id="simon-restart">restart</div>
				<div id="strict">strict</div>
		</div>
		<div id="switch">
			<div id="toggle"></div>
		</div>

	</div>
</div>
<audio id="green-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3"></audio>
<audio id="red-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3"></audio>
<audio id="yellow-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3"></audio>
<audio id="blue-sound" src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3"></audio>