<ul>
	<li>
		<ul class="list-inline">
			<li class="list-inline-item">
				<button class="btn btn-default">Skills</button>
			</li>
			<li class="list-inline-item">
				<div class="well">
					<h3>Skills</h3>
					<ul>
						<li ng-repeat="skill in skills"></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<ul class="list-inline">
			<li class="list-inline-item">
				<button class="btn btn-default">Skills</button>
			</li>
			<li class="list-inline-item">
				<div class="well">
				    <li role="separator" class="divider"></li>
					<h3>Skills</h3>
					<ul>
						<li ng-repeat="skill in skills"></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>
