<div class="background">
  <div class="twitch-container container offset-2 col-8">
    <div class="row align-items-center">
    <div class="text-center mb-2 mt-2 col-2 offset-5 img-container">
      <img class="img-fluid" src="https://images-na.ssl-images-amazon.com/images/G/01/sm/landing/twitchlogo._CB282860147_.svg" />
    </div>
    <div class="col text-center">
      <div id="display-options" class="container-fluid">
        <div class="btn btn-secondary">Display Options</div>
        <div id="view-all" class="btn btn-info hidden">all</div>
        <div id="view-online" class="btn btn-success hidden">on</div>
        <div id="view-offline" class="btn btn-danger hidden">off</div>
      </div>

    </div>
      </div>
    <div class="streamers-container">
      
      
    </div>
  </div>
</div>

<!--
    <div class="row align-items-center justify-content-around">
      <div class="col-2 mb-2 mt-2 text-center img-container">
        <img class="img-fluid" src="https://images-na.ssl-images-amazon.com/images/G/01/sm/landing/twitchlogo._CB282860147_.svg" />
      </div>
      <div class="col-4 text-center">
        <div id="display-options" class="container-fluid">
          <div class="btn btn-secondary">Display Options</div>
          <div id="view-all" class="btn btn-info hidden">all</div>
          <div id="view-online" class="btn btn-success hidden">on</div>
          <div id="view-offline" class="btn btn-danger hidden">off</div>
        </div>
      </div>
    </div>
-->