<div class="container-fluid full-height">
  <div class="row full-height align-items-center justify-content-center">
    <div class="container">
        <form id="form" class="text-center">
          <input class="rounded" id="search" placeholder="search" type="search" />
          <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank"><div class="btn btn-success">random</div></a>
        </form>
    
        <div id="resultsContainer">

        </div>
      
    </div>
  
  </div>
  
  
</div>