.calc-container {
  position:relative;
  background-color:#CD853F;
  height:28em;
  border-radius:10px;
  margin:auto;
  box-shadow:0 20px 22px -2px #888888, inset 0px -4px 70px .5px #8B4513;
  width:19em;
}
.display {
  position:relative;
  background-color:#323232;
  color:white;
  height:4em;
  top:2em;
  box-shadow:0 2px 0 -2px #888888, inset 0 -54px 13px .5px #000000;
  z-index:3;
}

.equation-container {
  position:relative;
  top:4px;
}

#total {
  margin:0px;
  font-family:arial,sans-serif;
  height:1em;
}
#history {
  margin:0px;
  font-family:arial,sans-serif;
  height:1em;
}

#headband {
  z-index:-5;
  position:relative;
  width: 7em;
  height: 7em;
  bottom:5.6em;
  left:15.0em;
  background-color:white;
  border-right: 1.8em solid transparent;
  border-top: 1.8em solid black;
  border-radius:50%;
  transform: rotate(56deg);
}
#headband:after {
  content:"";
  display:block;
  position:relative;
  height:2.5em;
  width:2.5em;
  left:4.5em;
  bottom:1.05em;
  border-radius:50%;
  background-color:white;
}
.ear-container {
  position:relative;
  margin:auto;
  top:2em;
  width:16em;
}
.ear {
  position:relative;
  height:4.5em;
  width:4.5em;
  background-color:#CD853F;
  border-radius:100%;
  box-shadow:0 20px 22px -2px #888888, inset 0px -4px 70px .5px #8B4513;
  z-index:0;
}
.ear-left {
  right:4em;
}
.ear-right {
  left:4em;
}

.ear-connector {
  position:relative;
  height:2.0em;
  width:2.2em;
  top:2.45em;
  border-radius:5px;
  z-index:2;
}
.ear-connector-left {
  right:6.9em;
  background-image:
    linear-gradient(
      to bottom right,
      #bb7231 1%,#b46b2e 23%,#ae6629 40%,#ad6628 50%,#b66e2f 68%, #CD853F 99%
    );
}

.ear-connector-right {
  left:6.9em;
  background-image:
    linear-gradient(
      to bottom left,
      #bb7231 1%,#b46b2e 23%,#ae6629 40%,#ad6628 50%,#b66e2f 68%, #CD853F 99%
    );
}
.face {
  position:relative;
  height:3em;
  top:2.5em;
}
.eye-nose {
  position:relative;
  background-color:black;
  height:1.5em;
  width:1.5em;
  border-radius:100%;
  margin:auto;
  top:0.15em;
  z-index:1;
}
.face-bottom {
  position:relative;
  margin:auto;
  width:5em;
  height:3em;
  background-color:#b66e2f;
  bottom:1em;
  border-radius:30%;
    
}
.mouth-container {
  width:3em;
  margin:auto;
}
.mouth {
  bottom:1em;
  position:relative;
  border:5px black solid;
  height:1.5em;
  width:1.5em;
  border-radius:100%;
}

.mouth-cover-top {
  position:relative;
  height:1em;
  width:4em;
  background-color:#b66e2f;
  bottom:2.5em;
  z-index:0;
}
.mouth-cover-left {
  margin:auto;
  position:relative;
  height:1em;
  width:1em;
  background-color:#b66e2f;
  bottom:2.5em;
  right:.7em;
  z-index:0;
}
.mouth-cover-right {
  margin:auto;
  position:relative;
  height:1em;
  width:1em;
  background-color:#b66e2f;
  bottom:2.5em;
  left:.7em;
  z-index:0;
}
.values {
  background-color: #DEB887;
  height:15em;
  border-radius:10px;
  top:3.7em;
  margin:auto;
  width:15em;
  padding:0px;
}

.val-row {
  margin:0px;
  padding:0px;
}

.value {
  width:3em;
  height:2.5em;
  border-radius:5px;
  margin:auto;
  color:black;
  background: linear-gradient(to bottom, #FFDEAD 80%, #FFF8DC 99%);
  box-shadow: 0 2px 2px #000000;
}
.value:active {
  background: none;
  transform: translateY(2px);
  box-shadow: 0 1px 1px #000000;
  background-color:#FFDEAD;
}

.equal {
  width:6.75em;
}

button {
  border:none;
}

button:focus {
  outline:0;
}

