

#quote {
	font-weight: bold;
	font-size: 1.5em;
}

#author {
	font-size:1.1em;
}

#quoteContainer {
	padding:3em;
	border-radius:5px;
	background-color:orange;
	width:700px;
	margin:auto;
}

#twitter {
	width:4em;
}