.background {
	background-color:grey;
	border-radius:50%;
	height:500px;
	width:500px;
	margin:auto auto auto auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 20px solid grey;
}

.option {
	flex-basis: 48%;
}

#green {
	background-color:#00b200;
	border-top-left-radius:100%;
	margin-bottom: 10px;
}

#red {
	background-color:#b20000;
	border-top-right-radius:100%;
	margin-bottom: 10px;
}

#yellow {
	background-color:#d6d630;
	border-bottom-left-radius:100%;
	margin-top: 10px;
}

#blue {
	background-color:#0000b2;
	border-bottom-right-radius:100%;
	margin-top: 10px;
}

#center {
	position:absolute;
	background-color:#f0ead6;
	height:250px;
	width:250px;
	border-radius:50%;
	border: 15px solid grey;
	text-align:center;
	margin-top: 105px;
	margin-left: 105px;
	margin-bottom: 105px;
	padding: 10px;
}

#title {
	font-weight:bold;
}

#display {
	background-color:black;
	color:#b83939;
	width:100px;
	height:45px;
	border-radius:5px;
	border:1px solid grey;
	margin:auto;
}

#simon-start {
	border-radius:50%;
	height:50px;
	width:50px;
	background-color:green;
	border:3px black solid;
	margin:5px;
	font-size:13px;
	font-weight:bold; 
	display: flex;
	align-items: center;
	justify-content: center;
}
#simon-restart {
	border-radius:50%;
	height:50px;
	width:50px;
	background-color:orange;
	border:3px black solid;
	margin:5px;
	font-size:13px;
	font-weight:bold; 
	display: flex;
	align-items: center;
	justify-content: center;
}
#strict {
	border-radius:50%;
	height:50px;
	width:50px;
	background-color:pink;
	border:3px black solid;
	margin:5px;
	font-size:13px;
	font-weight:bold; 
	display: flex;
	align-items: center;
	justify-content: center;
}

#switch {
	background-color: #a8a8a8;
	width:50px;
	height:25px;
	margin:auto;
	border-radius:24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#toggle {
	background-color: white;
	height: 19px;
	width: 19px;
	border-radius:50%;
	margin: 0 4px 0 4px;
}

@media (max-width : 600px)  {
	.background {
		height: 80vw;
		width: 80vw;
		border: 3vw solid grey;
	}

	#green, #red {
		margin-bottom: 1.5vw;
	}

	#yellow, #blue {
		margin-top: 1.5vw;
	}

	#center {
		height:40vw;
		width:40vw;
		border: 3vw solid grey;
		margin-top: 16.8vw;
		margin-left: 16.8vw;
		padding: 10px;
	}

	#title {
		font-size: 5vw;
	}

	#display {
		width:16vw;
		height:7.2vw;
	}

	#simon-start {
		height: 8vw;
		width: 8vw;
		border:.5vw black solid;
		margin:1px;
		font-size:2vw;
	}
	#simon-restart {
		height: 8vw;
		width: 8vw;
		border:.5vw black solid;
		margin:1px;
		font-size:2vw;
	}
	#strict {
		height: 8vw;
		width: 8vw;
		border:.5vw black solid;
		margin:1px;
		font-size:2vw;
	}
	
	#btn-container {
		margin-top: 1vw;
	}

	#switch {
		width: 8vw;
		height: 4vw;
		border-radius:24px;
	}

	#toggle {
		height: 3vw;
		width: 3vw;
		margin: 0 .6vw 0 .6vw;
	}
}